a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notyf__message {
  font-family: "Roboto", sans-serif;
}

.navLink,
.navLink::after {
  transition: all 0.3s ease;
}

.navLink:hover {
  color: #225c8f;
}

#root {
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  height: 100%;
}

.content-wrapper {
  flex: 1 0 auto;
}
