a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notyf__message {
  font-family: "Roboto", sans-serif;
}
