<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="logs/internal-nlog-AspNetCore.txt">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- local file target -->
		<target name="cruiseaholic-logs" xsi:type="File" fileName="${currentdir}/logs/cruiseaholic-logs.log" layout="--${level} (${longdate})--${newline}--Method: ${callsite}${newline}--Log-Info: ${message}${newline}--Error: ${exception:format=message}${newline}" />
		<target name="cruiseaholic-db-changes" xsi:type="File" fileName="${currentdir}/logs/cruiseaholic-db-changes.log" layout="--${level} (${longdate})--${newline}--Method: ${callsite}${newline}--Log-Info: ${message}${newline}--Error: ${exception:format=message}${newline}" />
	</targets>
	<rules>
		<!-- local file logger -->
		<logger minlevel="Info" name="cruiseaholic-logs" writeTo="cruiseaholic-logs" />
		<logger minlevel="Info" name="cruiseaholic-db-changes" writeTo="cruiseaholic-db-changes" />
	</rules>
</nlog>